a {
		background-color: red;
		box-shadow: 0 2px 0 darkred;
		color: yellow;
		padding: 0.5em 0.5em;
		  position: relative;
		  text-decoration: none;
		  text-transform: uppercase;
		  font: 16px Verdana, sans-serif;  
		display:block;
		width:300px;
		height:25px;
}

a:hover {
  background-color: #DD00AA;
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 2px;
}




